<h2>Methods that were not run</h2><table>
<tr><td>testSuite.TemplateProjectCreation.AUL_TC_15<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create a project using rollforward option(Use the above project)  with content and observe the data in WP and Permanent files data is visible (same as previous project)</i></td></tr>
</table>