<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testSuite.AUL_SMOKE</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_19</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_18</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_11</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_33</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_12</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_15</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_37</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_14</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_17</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_16</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_38</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_08</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_07</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_09</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_21</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_02</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_01</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_04</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_26</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_03</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_06</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_05</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_13_2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_13_1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AUL_TC_20</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClassRun</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>beforeclass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aftermethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>afterMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClassRun</td>
<td>&nbsp;</td></tr>
</table>
