<h2>Methods that were not run</h2><table>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_08<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Group,Client,User (Confirm the new user)</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_09<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Map Client and User to Group</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_06<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Audit Program and export and import template with data</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_07<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create upload file and upload word/excel/PDF</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_01<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Project Template Folder</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_20<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create review, followup comment and signoff the same</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_21<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Verify the client Dashboard</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_04<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Add steps under Audit Program</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_26<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Leadsheet workpaper and link WP references</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_05<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Workpaper Library Folder</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_02<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Word, Excel, PDF, Audit Program in Project Template Folder</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_03<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Import document under Word, Excel,PDF, Audit Program</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_13_2<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create word/excel/pdf files in the same project and then import files which has data (In both Permanent and Workpaper files</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_19<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Signoff the Workpaper as partner and also open any workpaper file (close the WP using browser close option without clicking on Close button)</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_17<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Add users to project</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_18<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Add time line item and PBC item as partner</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_11<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create a blank project and Edit the Project Information</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_33<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create WP file using Templates</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_12<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create project using template which is created before and observe files and data is visible</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_10<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Cabinet in Group</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_15<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create a project using rollforward option(Use the above project)  with content and observe the data in WP and Permanent files data is visible (same as previous project)</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_37<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>FS setup and Financial statement/Consolidation view</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_16<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create Entity and upload trial balance and create adjustment</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_38<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Archive Workpaper file by meeting all the conditions</i></td></tr>
<tr><td>testSuite.AUL_SMOKE.AUL_TC_14<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Create a project using rollforward option(Use the aboveproject)  without content and observe the data in WP files should be balnk and able to import new data and Permanent files data should be visible (same as previous project)</i></td></tr>
</table>