<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="69b199">  <td>18/11/22 14:42:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_13_1()[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">AUL_TC_13_1</td> 
  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/11/22 14:48:10</td>   <td>339276</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterClassRun()[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&lt;&lt;afterClassRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/11/22 14:48:10</td>   <td>339016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/11/22 14:48:10</td>   <td>339316</td> <td title="&lt;&lt;TestInit.afterSuite()[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/11/22 14:48:10</td>   <td>339276</td> <td>&nbsp;</td><td title="&lt;&lt;TestInit.afterTest()[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/11/22 14:48:09</td>   <td>338324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/11/22 14:42:17</td>   <td>-14166</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeClassRun()[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&gt;&gt;beforeClassRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/11/22 14:42:17</td>   <td>-13995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/11/22 14:42:17</td>   <td>-14166</td> <td title="&gt;&gt;TestInit.beforeSuite(org.testng.ITestContext)[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="78f375">  <td>18/11/22 14:42:17</td>   <td>-14166</td> <td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeTest()[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>18/11/22 14:42:17</td>   <td>-13995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@6a4f787b]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@517210187</td>   <td></td> </tr>
</table>
