<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_01()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_01</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:50</td>   <td>14349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_02()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_02</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:17</td>   <td>41403</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_03()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_03</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:28</td>   <td>51778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_04()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_04</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:55</td>   <td>78735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_05()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_05</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:11</td>   <td>95586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_06()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_06</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:45</td>   <td>129054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_07()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_07</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:18:08</td>   <td>212464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_08()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_08</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:38</td>   <td>302046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_09()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_09</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:56</td>   <td>320347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_10()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_10</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:19</td>   <td>342975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_11()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_11</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:49</td>   <td>373348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_12()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_12</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:22</td>   <td>406416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_13()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_13</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:38</td>   <td>422545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_14()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_14</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:16</td>   <td>460262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_15()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_15</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:51</td>   <td>495360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_17()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_17</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:27</td>   <td>531026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_18()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_18</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:24:10</td>   <td>573752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_19()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_19</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:24:46</td>   <td>609981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_20()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_20</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:32</td>   <td>656203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_21()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_21</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:29:23</td>   <td>887163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_22()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_22</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:31:42</td>   <td>1025914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_23()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_23</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:32:32</td>   <td>1075854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_24()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_24</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:34:03</td>   <td>1166937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_25()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_25</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:35:32</td>   <td>1256126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_27()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_27</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:37:01</td>   <td>1345112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_28()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_28</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:37:16</td>   <td>1360322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_29()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_29</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:37:31</td>   <td>1374858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_30()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_30</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:53</td>   <td>677549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_33()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_33</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:37:50</td>   <td>1393853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_33()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_33</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:38:50</td>   <td>1454258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_35()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_35</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:39:05</td>   <td>1469583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_36()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_36</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:27:08</td>   <td>751824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_37()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_37</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:28:20</td>   <td>824264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_38()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_38</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:29:23</td>   <td>887162</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterClassRun()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterClassRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:40</td>   <td>4312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:07</td>   <td>30939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:18</td>   <td>42133</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:42</td>   <td>66331</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:16:00</td>   <td>84208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:16:33</td>   <td>117083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:17:58</td>   <td>202522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:19:28</td>   <td>292377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:19:46</td>   <td>310646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:20:09</td>   <td>333321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:20:39</td>   <td>363469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:21:13</td>   <td>396904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:21:29</td>   <td>412908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:22:01</td>   <td>445517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:22:41</td>   <td>484875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:23:13</td>   <td>517606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:23:59</td>   <td>563299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:24:35</td>   <td>599202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:25:19</td>   <td>643321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:25:44</td>   <td>668123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:26:56</td>   <td>740631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:28:11</td>   <td>814763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:29:23</td>   <td>887082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:39:27</td>   <td>1490898</td> <td title="&lt;&lt;TestInit.afterSuite()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:39:23</td>   <td>1486807</td> <td>&nbsp;</td><td title="&lt;&lt;TestInit.afterTest()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:39</td>   <td>3615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:06</td>   <td>30200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:17</td>   <td>41404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:41</td>   <td>65624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:59</td>   <td>83423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:32</td>   <td>116365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:17:58</td>   <td>201795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:27</td>   <td>291603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:46</td>   <td>309955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:08</td>   <td>332562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:38</td>   <td>362675</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:12</td>   <td>396207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:28</td>   <td>412153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:01</td>   <td>444823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:40</td>   <td>484176</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:13</td>   <td>516785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:58</td>   <td>562579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:24:34</td>   <td>598432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:18</td>   <td>642622</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:43</td>   <td>667446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:26:56</td>   <td>739806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:28:10</td>   <td>813988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:29:22</td>   <td>886384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:23</td>   <td>-12847</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeClassRun()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeClassRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:23</td>   <td>-12366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:41</td>   <td>4769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:07</td>   <td>31029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:18</td>   <td>42217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:42</td>   <td>66415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:16:00</td>   <td>84275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:16:33</td>   <td>117160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:17:58</td>   <td>202601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:19:28</td>   <td>292444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:19:47</td>   <td>310717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:20:09</td>   <td>333390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:20:39</td>   <td>363549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:21:13</td>   <td>396994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:21:29</td>   <td>412991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:22:01</td>   <td>445579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:22:41</td>   <td>484953</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:23:13</td>   <td>517703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:23:59</td>   <td>563393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:24:35</td>   <td>599238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:25:19</td>   <td>643397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:25:44</td>   <td>668194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:26:56</td>   <td>740686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:28:11</td>   <td>814836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:23</td>   <td>-12878</td> <td title="&gt;&gt;TestInit.beforeSuite(org.testng.ITestContext)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:23</td>   <td>-12859</td> <td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeTest()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:23</td>   <td>-12365</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:41</td>   <td>4769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:07</td>   <td>31030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:18</td>   <td>42217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:42</td>   <td>66415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:00</td>   <td>84276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:33</td>   <td>117160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:17:58</td>   <td>202601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:28</td>   <td>292444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:47</td>   <td>310717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:09</td>   <td>333390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:39</td>   <td>363550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:13</td>   <td>396994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:29</td>   <td>412991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:01</td>   <td>445579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:41</td>   <td>484954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:13</td>   <td>517703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:59</td>   <td>563393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:24:35</td>   <td>599238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:19</td>   <td>643397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:44</td>   <td>668195</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:26:56</td>   <td>740686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:28:11</td>   <td>814836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
</table>
