<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:23</td>   <td>0</td> <td title="&gt;&gt;TestInit.beforeSuite(org.testng.ITestContext)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:23</td>   <td>19</td> <td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeTest()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:23</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeClassRun()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeClassRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:23</td>   <td>512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:23</td>   <td>513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:36</td>   <td>12878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_01()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_01</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:39</td>   <td>16493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:40</td>   <td>17190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:14:41</td>   <td>17647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:41</td>   <td>17647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:14:50</td>   <td>27227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_02()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_02</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:06</td>   <td>43078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:07</td>   <td>43817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:07</td>   <td>43907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:07</td>   <td>43908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:17</td>   <td>54281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_03()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_03</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:17</td>   <td>54282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:18</td>   <td>55011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:18</td>   <td>55095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:18</td>   <td>55095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:28</td>   <td>64656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_04()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_04</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:41</td>   <td>78502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:42</td>   <td>79209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:15:42</td>   <td>79293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:42</td>   <td>79293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:55</td>   <td>91613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_05()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_05</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:15:59</td>   <td>96301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:16:00</td>   <td>97086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:16:00</td>   <td>97153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:00</td>   <td>97154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:11</td>   <td>108464</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_06()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_06</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:32</td>   <td>129243</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:16:33</td>   <td>129961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:16:33</td>   <td>130038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:33</td>   <td>130038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:16:45</td>   <td>141932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_07()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_07</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:17:58</td>   <td>214673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:17:58</td>   <td>215400</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:17:58</td>   <td>215479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:17:58</td>   <td>215479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:18:08</td>   <td>225342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_08()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_08</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:27</td>   <td>304481</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:19:28</td>   <td>305255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:19:28</td>   <td>305322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:28</td>   <td>305322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:38</td>   <td>314924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_09()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_09</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:46</td>   <td>322833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:19:46</td>   <td>323524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:19:47</td>   <td>323595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:47</td>   <td>323595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:19:56</td>   <td>333225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_10()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_10</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:08</td>   <td>345440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:20:09</td>   <td>346199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:20:09</td>   <td>346268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:09</td>   <td>346268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:19</td>   <td>355853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_11()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_11</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:38</td>   <td>375553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:20:39</td>   <td>376347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:20:39</td>   <td>376427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:39</td>   <td>376428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:20:49</td>   <td>386226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_12()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_12</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:12</td>   <td>409085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:21:13</td>   <td>409782</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:21:13</td>   <td>409872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:13</td>   <td>409872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:22</td>   <td>419294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_13()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_13</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:28</td>   <td>425031</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:21:29</td>   <td>425786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:21:29</td>   <td>425869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:29</td>   <td>425869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:21:38</td>   <td>435423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_14()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_14</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:01</td>   <td>457701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:22:01</td>   <td>458395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:22:01</td>   <td>458457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:01</td>   <td>458457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:16</td>   <td>473140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_15()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_15</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:40</td>   <td>497054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:22:41</td>   <td>497753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:22:41</td>   <td>497831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:41</td>   <td>497832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:22:51</td>   <td>508238</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_17()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_17</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:13</td>   <td>529663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:23:13</td>   <td>530484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:23:13</td>   <td>530581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:13</td>   <td>530581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:27</td>   <td>543904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_18()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_18</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:58</td>   <td>575457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:23:59</td>   <td>576177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:23:59</td>   <td>576271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:23:59</td>   <td>576271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:24:10</td>   <td>586630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_19()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_19</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:24:34</td>   <td>611310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:24:35</td>   <td>612080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:24:35</td>   <td>612116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:24:35</td>   <td>612116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:24:46</td>   <td>622859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_20()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_20</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:18</td>   <td>655500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:25:19</td>   <td>656199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:25:19</td>   <td>656275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:19</td>   <td>656275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:32</td>   <td>669081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_21()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_21</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:43</td>   <td>680324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:25:44</td>   <td>681001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:25:44</td>   <td>681072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:44</td>   <td>681073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:25:53</td>   <td>690427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_33()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_33</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:26:56</td>   <td>752684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:26:56</td>   <td>753509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:26:56</td>   <td>753564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:26:56</td>   <td>753564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:27:08</td>   <td>764702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_37()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_37</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:28:10</td>   <td>826866</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:28:11</td>   <td>827641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:28:11</td>   <td>827714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestInit.beforeMethod(java.lang.reflect.Method)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:28:11</td>   <td>827714</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AUL_SMOKE.beforeclass()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:28:20</td>   <td>837142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE.AUL_TC_38()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">AUL_TC_38</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="74d26a">  <td>18/11/20 16:29:22</td>   <td>899262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AUL_SMOKE.aftermethod()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:29:23</td>   <td>899960</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterMethod(org.testng.ITestResult)[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:29:23</td>   <td>900040</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestInit.afterClassRun()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterClassRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:29:23</td>   <td>900041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_22()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_22</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:31:42</td>   <td>1038792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_23()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_23</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:32:32</td>   <td>1088732</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_24()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_24</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:34:03</td>   <td>1179815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_25()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_25</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:35:32</td>   <td>1269004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_27()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_27</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:37:01</td>   <td>1357990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_28()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_28</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:37:16</td>   <td>1373200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_29()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_29</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:37:31</td>   <td>1387736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_30()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_30</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:37:50</td>   <td>1406731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_33()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_33</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:38:50</td>   <td>1467136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_35()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_35</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="d2e7d9">  <td>18/11/20 16:39:05</td>   <td>1482461</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AUL_SMOKE_L.AUL_TC_36()[pri:0, instance:testSuite.AUL_SMOKE_L@604ed9f0]">AUL_TC_36</td> 
  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:39:23</td>   <td>1499685</td> <td>&nbsp;</td><td title="&lt;&lt;TestInit.afterTest()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/11/20 16:39:27</td>   <td>1503776</td> <td title="&lt;&lt;TestInit.afterSuite()[pri:0, instance:testSuite.AUL_SMOKE@57baeedf]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1776957250</td>   <td></td> </tr>
</table>
